*target/
*.pyc
.ipynb_checkpoints
.vscode
.zed
.DS_Store
.idea
.eggs
build
dist
*.egg-info
*.zip
*.so
*.pyd
*pymoo_res*
*env*/
rust/
*.dat
.zed
activate
activate.sh

# pixi environments
.pixi
*.egg-info
