include LICENSE LICENSE.md build_and_test.sh BUILD.md
include Cargo.toml fastsim-core/Cargo.toml fastsim-core/proc-macros/Cargo.toml fastsim-py/Cargo.toml fastsim-cli/Cargo.toml
recursive-include fastsim-core/src *
recursive-include fastsim-core/proc-macros/src *
recursive-include fastsim-py/src *
recursive-include fastsim-cli/src *
recursive-include python/fastsim/resources *
recursive-include python/fastsim/demos *