[package]
name = "fastsim-core"
version = "0.1.5"
edition = "2021"
license = "Apache-2.0"
authors = ["NREL/MTES/CIMS/MBAP Group <fastsim@nrel.gov>"]
description = "Core FASTSim models for vehicle energy usage simulation"
homepage = "https://www.nrel.gov/transportation/fastsim.html"
readme = "../../README.md"
repository = "https://github.com/NREL/fastsim"

[dependencies]
# this is compiled only when `dev-proc-macros` feature is not enabled, which is the default
fastsim-proc-macros = { package = "fastsim-proc-macros", version = "0.1.5" }
# this is compiled when `dev-proc-macros` feature is enabled with e.g. `cargo build --features
# dev-proc-macros`
dev-proc-macros = { package = "fastsim-proc-macros", path = "./fastsim-proc-macros" }
pyo3 = { workspace = true, features = [
    "extension-module",
    "anyhow",
], optional = true }
anyhow = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_yaml = { workspace = true }
ndarray = { version = "0.15.4", features = ["serde"] }
csv = "1.1"
serde_json = "1.0.81"
bincode = "1.3.3"
log = "0.4.17"
polynomial = "0.2.4"
argmin = "0.7.0"
argmin-math = { version = "0.2.1", features = [
    "ndarray_latest-nolinalg-serde",
] }
validator = { version = "0.16", features = ["derive"] }
lazy_static = "1.4.0"
regex = "1.7.1"

[package.metadata]
include = [
    "resources/longparams.json",
    "resources/udds.csv",
    "resources/hwfet.csv",
    "build.rs",
    "../../NOTICE",
]

[features]
pyo3 = ["dep:pyo3"]
dev-proc-macros = []
